
div.class-entry {
    display: block;
    margin: 0 0 18px 0;
    padding: 0 0 18px 0;
    border-bottom: 1px solid #e52695;
    font-size: 14px;
    color: #6d6e71;
}

div.class-entry div.class-image {
    float: left;
}

div.class-entry div.class-image div.image-wrapper {
    width: 250px;

    /* If we want images locked to a certain ratio */
    /*height: 250px;*/
    /*overflow: hidden;*/
}

div.class-entry div.class-image div.image-wrapper img {
    width: 100%;
    height: auto;
}

div.class-entry div.class-info {
    padding: 0 0 0 268px;
}

div.class-name {
    font-size: 18px;
    font-weight: 700;
    color: #e52695;
}