/* Slideshow */
div#slideshow {
    margin: 0px;
    padding: 0px;
}

    div#slideshow ul.slides li {
        position: relative;
    }

    div.caption-container {
        position: absolute;
        top: 10%;
        left: 15%;
        width: 35%;
    }

    div.hp-slideshow-caption {
        font-family: 'Open Sans', sans-serif;
        font-size: 48px;
        line-height: 44px;
        font-weight: 300;
        text-transform: uppercase;
        color: #fff;
    }

    a.hp-slideshow-link {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        background-color: rgba(255,255,255,0.35);
        transition: all 0.5s;
        padding: 12px 24px;
        border-radius: 1px;
        display: inline-block;
        margin: 18px 0;
        color: #fff;
        text-decoration: none;
    }

    a.hp-slideshow-link:hover {
        background-color: rgba(255,255,255,0.6);
    }

/* HP CTA Row */
div.cta {
    padding: 28px 0;
    background-color: #fff;
}

    div.cta ul.cta-wrapper  {
        display: block;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    div.cta ul.cta-wrapper li {
        display: inline-block;
        margin: 0;
        width: 23%;
        padding: 1%;
    }

    div.cta ul.cta-wrapper li a {
        display: block;
        text-decoration: none;
        color: #545454;
        padding: 12px;
        transition: all 0.5s;
    }

    div.cta ul.cta-wrapper li a:hover {
        background-color: #efefef;
    }

    div.cta ul.cta-wrapper li a:hover h3 {
        color: #e42692;
    }

    div.cta ul.cta-wrapper li a:hover img {
       transform:scale(1.25);
    }

    div.cta ul.cta-wrapper li a span.image-wrapper {
        display: block;
        overflow: hidden;
    }

    div.cta ul.cta-wrapper li a img {
        display: block;
        width: 100%;
        height: auto;
        background: #796c6c;
        transition: all 0.5s;
    }

    div.cta ul.cta-wrapper li a h3 {
        font-size: 14px;
        font-weight: 600;
        color: #545454;
        text-transform: uppercase;
        margin: 1em 0;
        transition: all 0.5s;
    }

    div.cta ul.cta-wrapper li a p {
        font-size: 13px;
        font-weight: 400;
        color: #545454;
        margin: 1em 0;
    }

/* HP Video Row */
div.video {
    background-color: #fff;
    background-image: url('/images/display/homepage/video.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 300px;
}

/* HP Content Row */
div.content {
    padding: 43px 0;
    background-color: #fff;
    font-size: 14px;
    color: #6d6e71;
}

    div.content div.wrapper {
        max-width: 720px;
    }

    div.content h1, h2 {
        color: #e52695;
        font-size: 48px;
        font-weight: 300;
        margin: 0;
        padding: 32px 0 5px 0;
        display: block;
        text-align: center;
        text-transform: uppercase;
    }

/* Testimonials */
div.testimonials {
    padding: 50px 70px;
    background-color: #fff;
    background-image: url('/images/display/homepage/testimonialsBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

    div.testimonial-title {
        width: 40%;
        margin: 0 0 0 60%;
        background-color: rgba(255,255,255,0.7);
    }

    div.testimonial-title span {
        display: inline-block;
        padding: 46px 60px 1em 60px;
        font-size: 14px;
        font-weight: 700;
        color: #6d6e71;
    }

    div.testimonials-slider {
        width: 40%;
        margin: 0 0 0 60%;
        background-color: rgba(255,255,255,0.7);
        height: 450px;
    }

    div.testimonials-slider ul.slides {

    }

    div.testimonials-slider ul.slides li {

    }

    div.testimonials-slider ul.flex-direction-nav {
        display: none;
    }

    div.testimonials-slider ol.flex-control-nav {
        bottom: 10px;
    }

    div.testimonials-slider-content {
        padding: 0px 60px 46px 60px;
        margin: 0;
    }

    span.testimonial-text {
        display: block;
        margin: 0 0 1em 0;
        font-size: 16px;
        color: #6d6e71;
        line-height: 28px;
        font-style: italic;
    }

    span.testimonial-credit {
        display: block;
        margin: 1em 0 0 0;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        color: #6d6e71;
    }

/* Marketing Row */
div.marketing {
    padding: 28px 0;
    background-color: #fff;
    color: #545454;
}

    div.marketing div.wrapper {
        max-width: 1100px;
    }

    div.marketing h3 {
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        color: #545454;
    }

    div.marketing div.contact-info {
        font-size: 18px;
    }

    div.marketing div.contact-info a {
        color: #545454;
        text-decoration: none;
        transition: all 0.5s;
    }

    div.marketing div.contact-info a:hover {
        color: #000;
        text-decoration: underline;
    }

    div.marketing div.marketing-text {
        font-size: 13px;
    }