body,html { width: 100%; height: 100%; background-color: #181818; font-family: 'Open Sans', sans-serif; }

/* Header Styles */
div.header {

    background-color: #fff;
    padding: 0;

}

    /* Logo */
    div.header div.logo {
        float: left;
        width: 224px;
        padding: 23px;
    }

    div.header div.logo a {

    }

    div.header div.logo a:hover {

    }

    div.header div.logo a img {
        display: block;
        margin: 0;
        padding: 0;
    }

    /* Main Nav */
    div.header div.navigation {
        padding: 0 10px 0 0;
        float: right;
    }

    div.header div.navigation ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    div.header div.navigation ul li {
        display: inline-block;
        padding: 45px 10px 44px 10px;
        position: relative;
    }

    div.header div.navigation ul li a {
        transition: all 0.5s;
        display: block;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        color: #545454;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding: 18px 0;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 300;
    }

    div.header div.navigation ul li a:hover {
        color: #e42692;
        border-bottom: 1px solid #e42692;
    }

    div.header div.navigation ul li ul {
        display: none;
        position: absolute;
        left: -30px;
        top: 148px;
        background-color: #212121;
        padding: 30px 0;
        margin: 0;
        list-style: none;
        text-align: left;
        min-width: 250px;
        z-index: 99;
    }

    div.header div.navigation ul li ul li {
        display: block;
        margin: 0;
        padding: 0;
    }

    div.header div.navigation ul li ul li a {
        display: block;
        padding: 5px 40px;
        font-size: 15px;
        color: #abadad;
        text-decoration: none;
        transition: all 0.5s;
        border: none;
        white-space: nowrap;
    }

    div.header div.navigation ul li ul li a:hover {
        color: #fff;
        border: none;
    }

    /* Social Nav */
    div.header div.social {
        float: right;
        padding: 21px 0;
    }

    div.header div.social ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    div.header div.social ul li {
        display: inline-block;
        padding: 0 4px;
    }

    div.header div.social ul li a {
        display: block;
        transition: all 0.5s;
        font-family: 'FontAwesome', sans-serif;
        font-size: 18px;
        padding: 44px 0;
        line-height: 16px;
        color: #545454;
    }

    div.header div.social ul li a:hover {
        color: #e42692;
    }

/* Content */
div.content {
    background-color: #fff;
    padding: 28px 0;
}

    div.daw-divider {
        width: 60px;
        display: block;
        height: 0px;
        border-bottom: 1px solid #9d9d9d;
        margin: 30px auto;
    }

    div.content h1, div.content-sidebar h1 {
        font-size: 48px;
        line-height: 36px;
        padding: 0;
        margin: 0 0 18px 0;
        color: #e52695;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
    }

    div.content b, div.content strong {
        color: #e52695;
        font-weight: 700;
    }

/* Sidebar Nav */
ul.sidebar-nav {
    display: block;
    margin: 0;
    padding: 12px 0;
    background-color: #e52695;
    list-style-type: none;
}

ul.sidebar-nav li {
    display: block;
    margin: 0;
    padding: 0;
    background-color: #e52695;
}

ul.sidebar-nav li a {
    display: block;
    padding: 12px 30px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 300;
    text-decoration: none;
    background-color: #e52695;
    color: #fff;
}

ul.sidebar-nav li a:hover {
    background-color: #bb006d;
}

/* Footer */
div.footer {
    padding: 28px 0;
    background-color: #181818;
    color: #868686;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    text-align: center;
    position: relative;
}

    div.footer a {
        color: #868686;
        text-decoration: none;
        transition: all 0.5s;
    }

    div.footer a:hover {
        color: #fff;
        text-decoration: underline;
    }

    div.footer a.back-to-top {
        opacity: 0.7;
        transition: all 0.5s;
        position: absolute;
        right: 15px;
        top: 15px;
    }

    div.footer a.back-to-top:hover {
        opacity: 1;
    }